[submodule "themes/duckquill"]
	path = themes/duckquill
	url = https://codeberg.org/daudix/duckquill.git
[submodule "themes/serene"]
	path = themes/serene
	url = https://github.com/isunjn/serene.git
	branch = latest
